<div class="container-fluid">

  <div class="row">
    <div id="wrapperHeader">
      <div class="header">

        <h1>Burgers!</h1>
        <h2>Fresh Burgers!</h2>


        <img src="/assets/img/burger.jpeg" alt="logo">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">

</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Burgers waiting to be eaten!</h3>
      </div>
      <div class="panel-body">
        <ul>
          {{#each burgers}}
            {{#unless devoured}}
              <li>
                {{burger_name}}

                <form action="/{{id}}?_method=PUT" method="POST">
                  <input type="hidden" name="devoured" value="true">
                  <button type="submit" class="btn btn-info">YUM!!!</button>
                </form>
              </li>
            {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Eaten Burgers!</h3>
      </div>
      <div class="panel-body">
        <ul>
          {{#each burgers}}
            {{#if devoured}}
              <li class="devoured">
                {{burger_name}}
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Add A Burger!</h3>
  </div>

  <div class="panel-body">
    <p>What is the burger of your dreams?</p>
    <form class="create-update-form" action="/" method="POST">

      <div class="form-group">
        <input type="text" id="ca" name="burger_name">
      </div>

      <button type="submit" class="btn btn-info">Submit</button>

    </form>
  </div>
</div>
